/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(218, 218, 235);
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  color: white;
  padding: 36px 48px;
  border-radius: 10px;
  background-image: url(../../img/pexels-shiva-smyth-394854-1051431.jpg);
  background-size: cover;
  background-position: center;
}

.user-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-user-icon {
  font-size: 50px;
  color: white;
}

.wrapper h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


.input {
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: 50px;
  margin:30px 0;
}

.input input {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 40px; 
  background: transparent;
  border:none;
  border:2px solid rgb(255,255,255,.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  outline: none;
}

.input input::placeholder {
  color: white;
}

.input-icon {
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(142, 137, 137);
  font-size: 15px;
}

.rememberPassword {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin-bottom: 20px;
}

.rememberPassword input {
  accent-color: white;
  margin-right: 4px;
}

.rememberPassword a {
  color: white;
  text-decoration: none;
}

.rememberPassword a:hover {
  text-decoration: underline;
}


.loginButton {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.loginButton button {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  color: #333;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.loginButton button:hover {
  background: #f0f0f0;
}


.register {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.register a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register a:hover {
  text-decoration: underline;
}
.social-login p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */